@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header{
    display: flex;
    position: relative;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #114d4d;
    font-size: 35px;
    font-weight: 800;    
    background-image: url("./images/lupa.png");
    background-size: 75px;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    transition: .5s;
}

.logo:hover{
    color: #6e9987;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    padding: 20px;
    color: #114d4d;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a::before,
.menu .navbar ul li a::after{
    content: '';
    width: 40px;
    border-bottom: 2px solid #6e9987;
    position: absolute;
    transition: 0.2s;
    opacity: 0;       
}

.menu .navbar ul li a::after{
    bottom: 25px;
    width: 60%;
    left: 0;
}

.menu .navbar ul li a::before{
    bottom: 30px;
    width: 90%;
    right: 0;
}

.menu .navbar ul li a:hover::after{
   width: 40%;
   opacity: 1;
}

.menu .navbar ul li a:hover::before{
    width: 60%;
    opacity: 1;
}

#menu{
    display: none;
}

/* .menu-icono{
    width: 25px;
} */

.menu label {
    cursor: pointer;
    display: none;
}

.bg{
    position: absolute;
    width: 700px;
    z-index: -1;
    right: 0;
}


.bg-productos{
    position: absolute;
    width: 500px;
    z-index: -1;
    right: 0;
}

.esp{
    position: absolute;
    top: 2885px;
    bottom: 0;
    width: 200px;
    left: 10px;
}

.header-info {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.header-txt {
    width: 50%;
    padding-right: 35px;
}

.header-txt h1{
    font-size: 40px;
    line-height: 70px;
    font-weight: 600;
    color: #303030;
    margin-bottom: 25px;
}

.header-txt p {
    font-size: 20px;
    color: #545454;
    margin-bottom: 35px;
}

.btn-1 {
    display: inline-block;
    background-color: #114d4d;
    padding: 13px 30px;
    border-radius: 25px;
    color: #dedede;
    text-transform: capitalize;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.btn-1:hover {
    background-color: #043838;
    color: #ffffff;
}

.header-img {
    width: 50%;
}

.header-img img{
    width: 600px;
}

.info{
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.infoimagen{
    width: 50px;
}

.info-1{
    width: 300px;
    padding: 15px 25px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}



.info-1 h3 {
    font-size: 18px;
    color: #303030;
    margin-bottom: 10px;
}

.info-1 p{
    font-size: 16px;
    color: #545454;
}

.slider{
    display: flex;
    width: 1000px;
    height: 430px;
  }
  
  .slider img{
    width: 0px;
    flex-grow: 1;
    object-fit:cover;
    opacity: .8;
    transition: .5s ease;
  }
  
  .slider img:hover{
    cursor: crosshair;
    width: 250px;
    opacity: 1;
    filter: contrast(120%);
  }

.nosotros {
    position: relative;
}

.bg-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    z-index: -1;
}

.nosotros-info {
    padding: 20px 0;
    display: flex;
    align-items: center;
}

.nosotros-img {
    width: 50%;
}

.nosotros-img img{
    width: 350px;
}

.nosotros-txt{
    width: 50%;
}

.nosotros-txt span {
    font-size: 16px;
    color: #ff9f0d;
    font-weight: 700;
    margin-bottom: 25px;
}

.nosotros-text h2 {
    font-size: 40px;
    color: #303030;
    margin-bottom: 30px;
    text-align: center;
}

.nosotros-text p{
    text-align: center;
}


.nosotros-text-secundario{
    font-size: 18px;
    color: #545454;
    margin-bottom: 50px;
}

.nosotros-text-primario{
    font-size: 18px;
    color: #545454;
}

.productos{
    padding: 20px 0;
    text-align: center;
}

.productos h2{
    font-size: 40px;
    color: #303030;
    margin-bottom: 30px;
}

.productos p {
    font-size: 18px;
    color: #545454;
    margin-bottom: 70px;
    padding: 0 200px;
}

.productos-info {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: auto;
    grid-gap: 3rem;
}

.producto {
    padding-bottom: 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.producto img{
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0 0;
    background-size: contain;
}

.producto h3{
    font-size: 20px;
    color: #303030;
    margin-top: 15px;
}

.producto p {
    font-size: 16px;
    padding: 15px;
    color: #545454;
    margin: 0;
}

.producto span{
    background-color: #114d4d;
    padding: 10px;
    color: #ffffff;
    border-radius: 15px;
}

hr {
    border: 1px solid #eee;
}

.footer {
    padding: 100px 0;
}

.footer-links {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 20px;
    color: #303030;
    margin-bottom: 20px;
}

.socials img {
    margin-right: 15px;
}

a {
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    color: #545454;
}

.reservation_movil{
    display: none;
}

/* Formulario */

.reservation {
    padding: 6rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    background-repeat: no-repeat;
    background-image: url("./images/emmanuelremix.png")
    , url("./images/lupa2.png");
    background-size: 350px,
    280px;
    background-position: 0px -35px,
    880px 90px;    
}

.reservation-heading{
    text-align: center;
}

.reservation-heading h5{
    /* font-family: 'Bebas Neue', sans-serif; */
    color: #303030;
    font-size: 40px;
}

.reservation-heading h4 {
    /* font-family: 'Alfa Slab One', cursive; */
    font-size: 2rem;
}

.reservation-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Dos columnas de la misma fraccion */
    grid-template-rows: 1fr 1fr 1fr;
    /* Tres filas con la misma fraccion de tamaño */
    grid-template-areas: 
        "name email"
        "date time"
        "people button";
        width: 36rem;
        gap: 1rem;
}

.reservation-form input{
    padding: .75rem 1rem;
    /* font-family: 'Bebas Neue', sans-serif; */
    font-weight: 300;
    color: black;
    outline: 0 none;
    
}

.reservation-form input:focus{    
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075)inset, 0 0 8px #2d3839;
    border: 0; 
}

.reservation-form .name{
    grid-area: name;
}

.reservation-form .email {
    grid-area: email;
}

.reservation-form .date {
    grid-area: date;
}

.reservation-form .time {
    grid-area: time;
}

.reservation-form .people {
    grid-area: people;
}

.reservation-form .button {
    grid-area: button;
    border: 0;
    background-color: #114d4d;
    text-transform: uppercase;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;  
}

.reservation-form .button:hover {
    transform: scale(0.95);
}

/* Prueba para wasap */

.btn-wsp{
    margin: 0;
}

.btn-wsp .bi-whatsapp{
    position: fixed;
    width: 45px;
    height: 45px;
    line-height: 45px;
    bottom: 30px;
    right: 70px;
    background-color: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.3);
    z-index: 100;
    transition: .5s;
}

.btn-wsp .bi-whatsapp:hover{
    text-decoration: none;
    color: #0df053;
    background-color: #fff;
}

/* Footer */

footer{
    padding: 6rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

.footer{
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url("./images/casa.jpg");
    background-size:cover;
    background-position: center center;
    padding: 2rem;
    position: relative;
}

.footer::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.685);
}

.footer h2,
.footer p,
.footer i{
    color: white;
}

.footer-top,
.footer-bottom {
    z-index: 1;
}

.footer-top{
    display: flex;
    padding-block: 3rem;
}

.footer-top > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Para qeu afecte a las div dentro de footer-top,
con flex 1, se divide el espacio en partes iguales */

.footer-top h2{
    
    font-weight: 300;
    font-size: 1.5rem;
}

.footer-top p{
    margin-top: 20px;
}


.address{
    align-items: center;
}

.address p {
   
    font-weight: 300;
    letter-spacing: 1px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
}

.footer-bottom p {
    
    font-weight: 300;
    letter-spacing: 1px;
}

.footer-bottom .icons{
    display: flex;
    gap: .5rem;
}

@media screen and (min-width: 1101px) and (max-width:1200px) {

    .header-img img {
        width: 550px;
    }

    .menu{
        padding: 0 30px;
    }

    .header-info{
        padding: 30px;
    }

    .nosotros-info{
        padding: 30px;
    }

    .productos{
        padding: 0 30px;
    }
}

@media screen and (min-width: 992px) and (max-width:1100px) {    

    .header-img img {
        width: 500px;
    }

    .header-info{
        padding: 30px;
    }

    .slider{
        padding: 30px;
    }

    .slider{
        display: flex;
        width: 1000px;
        height: 430px;
      }
      
      .slider img:hover{
        cursor: crosshair;
        width: 250px;
      }

    .nosotros-info{
        padding: 30px;
    }

    .info{
        column-gap: 20px;
    }

    .productos{
        padding: 0 30px;
    }

    .reservation {
        background-position: 0px -35px, 720px 90px;
    }

    .btn-wsp{
        margin-bottom: 0;
    }
}

    @media(max-width: 991px) {

    .menu{
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar { 
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #043838;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
        text-align: center;
    }

    .menu .navbar ul li a{
        color: #ffffff;
        font-size: 30px;
    }

    .menu .navbar ul li a:hover{
        color: #bebebe;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .bg{
        width: 500px;
    }

    .esp{
        display: none;
    }

    .header-info{
        flex-direction:column-reverse;
        padding: 30px;
    }

    .header-txt {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .header-txt h1{
        font-size: 40px;
        line-height: 50px;
    }

    .header-img {
        width: 100;
        text-align: center;
        padding-top: 35px;
    }

    .header-img img{
        width: 300px;
    }

    .info {
        padding: 0;
        
        align-items: center;
    }

    .info-1 {
        margin-bottom: 20px;
    }

    .nosotros{
        padding: 30px;
    }

    .nosotros-info{
        padding: 0;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .nosotros-img {
        width: 100%;
    }

    .nosotros-img img{
        width: 300px;
    }

    .nosotros-txt{
        width: 100%;
    }

    .nosotros-txt h2 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .nosotros-txt p {
        margin-bottom: 20px;
    }

    .productos {
        padding: 30px;
        text-align: center;
    }

    .productos h2 {
        font-size: 40px;
    }

    .productos p {
        padding: 0;
        margin-bottom: 40px;
    }    

    .producto p {
        padding: 30px;
        padding-bottom: 0;
    }

    .producto {
        padding: 15px;
        padding-bottom: 0;
    }

    .reservation{
        padding: 2rem;
        background-image: none;
    }

    .reservation-form{
        width: 85%;
        display: flex;
        flex-direction: column;
    }


    footer{
        padding: 2rem;
    }

    .footer-top{
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }

    .address {
        align-items: flex-start;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-bottom .icons{
        order: -1;
    }

    .btn-wsp .bi-whatsapp {       
        bottom: 0.5rem;
        right: 3.5rem;  
    }
}

@media screen and (min-width: 768px) and (max-width:990px) {

    .bg,
    .bg-productos{
        right: -1px;
        z-index: -1;
    }

    .slider{
        padding: 30px;
        width: auto;
    }

    .header-img img
      {
        width: 500px;
        margin-left: -65px;
    }

    .nosotros-img img{
        width: 400px;
    }

    .nosotros{
        padding-block: 0;
    }

    .producto{
        padding-bottom: none;
    }    

    .info{
        /* flex-direction: row; */
        padding: 30px;
        display: block;
    }

    .info-1{
        width: auto;
    }

    .reservation_movil{
        display: block;
    }
    
    .reservation_movil img{
        margin: auto;
        width: 400px;
        display: flex;
        align-items: center;
    }

    .btn-wsp .bi-whatsapp {
        bottom: 1.5rem;
        right: 1.5rem;
        width: 50px;
        height: 50px;
    }

    .btn-wsp{
        margin: 0;
    }
}

@media screen and (min-width :410px) and (max-width:767px) {

    .menu .navbar {
        top: 68%;
    }

    .menu .navbar ul li a{
        padding: 15px;
    }

    .logo{
        font-size: 30px;
    }

    .header-info {
        flex-direction: column-reverse;}

    .header-txt h1 {
        font-size: 40px;}


    .header-img {
        padding-top: 0;
        margin-left: -90px;
    }

    .header-img img {
        width: 350px;
        margin-left: -53px;
    }

    .slider{
        display: flex;
        width: auto;
        padding: 30px;
      }
      
      .slider img{
        width: 0px;
        flex-grow: 1;
        object-fit:cover;
        opacity: .8;
        transition: .5s ease;
      }
      
      .slider img:hover{
        cursor: crosshair;
        width: 125px;
        opacity: 1;
        filter: contrast(120%);
      }

    .nosotros-img img {
    width: 350px;
    }

    .nosotros-text-primario,
    .nosotros-text-secundario{
        font-size: 16px;
    }

    .nosotros-text-secundario{
        display: none;
    }

    .nosotros-text h2{
        font-size: 35px;
    }

    .productos h2 {
        font-size: 35px;
    }

    .productos-info{
        grid-template-columns: repeat(1,1fr);
    }

    .producto {
        padding: 0;
        padding-bottom: 0;
    }

    .producto h3{
        font-size: 18px;
        margin: 15px;
    }

    .info{
        display: block;
    }

    .info-1 {
        width: 90%;
        margin: 20px auto;
    }

    .reservation_movil{
        display: block;
    }

    .reservation_movil img{
        margin: auto;
        width: 350px;
        display: flex;
        align-items: center;
    }

    .reservation-heading h5{
        font-size: 40px;
    }

    .menu img{
    margin-left: -22px;
    width: 60px;
   }

    footer{
        padding: 1rem;
        padding-bottom: 0;
    }

    .footer-top{
        flex-direction: column;
        padding: 0;
        gap: 2rem;
    }

    .address {
        align-items: flex-start;
    }

    .footer-bottom {
        flex-direction: column;
        gap: 1rem;
    }

    .footer-bottom .icons{
        order: -1;
    }

    .btn-wsp .bi-whatsapp {       
        bottom: 1.5rem;
        right: 1.5rem;  
    }
}

@media screen and (max-width:409px) {  


    .logo {
    font-size: 30px;
    }  

    .menu img{
        width: 55px;
    }

    .menu .navbar ul li a{
      
        font-size: 25px;
    }

    .header-txt h1 {
        font-size: 35px;
    }

    .header-img {
        padding-top: 0;
        margin-left: -90px;
    }

    .header-img img {
        width: 350px;
        margin-left: -53px;
    }

    .slider{
        display: flex;
        width: auto;
        padding: 30px;
    }

    .bg {
        width: 340px;
        right: 0;
    }

    .bg-2{
        width: 340px;
    }

    .bg-productos {
        width: 340px;
        right: 0;
    }

    .productos-info{
        grid-template-columns: repeat(1,1fr);
    }

    .productos h2,
    .nosotros-text h2,
    .reservation-heading h5 {
        font-size: 35px;
    }

    .producto h3 {
        margin-block: 15px;
    }

    .nosotros {
        padding-bottom: 0px;
    }

    .nosotros-text-secundario{
        display: none;
    }

    .info{
        display: block;
    }
    
    .info-1 {
        width: 90%;
        margin: 20px auto;
    }

    .reservation_movil{
        display: block;
    }

    .reservation_movil img{
        margin: auto;
        width: 300px;
        display: flex;
        align-items: center;
    }


    .btn-wsp .bi-whatsapp {       
        bottom: 2rem;
        right: 2rem;  
    } 

    .address p {
        letter-spacing: 0;
        font-size: 15px;
    }

    footer {
        padding: 30px;
    }

    .footer-top p {
        margin-top: 15px;
    }
}